/*=====================GENERAL========================*/
.bold{
    font-weight: bold;
}

.image-container{
    margin-top: 4rem;
}

/*=====================INDEX PAGE========================*/
.index-title{
    font-size: 1.9rem;
}

